<div class="content">
  <table>
    <tr>
      <th>ID</th>
      <th>Broj sobe</th>
      <th>Broj sprata</th>
      <th>Opis</th>
      <th>Cena</th>
      <th>Broj noćenja</th>
      <th>Akcije</th>
    </tr>
    <tr *ngFor="let room of rooms">
      <td>{{ room.id }}</td>
      <td>{{ room.brojSobe }}</td>
      <td>{{ room.brojSprata }}</td>
      <td>{{ room.opis }}</td>
      <td>{{ room.cena }}</td>
      <td>{{ room.brojNocenja }}</td>
      <td>
        <button (click)="editForm(room)">Uredi</button>
        <button (click)="deleteRoom(room)">Izbriši</button>
      </td>
    </tr>
  </table>
  <button (click)="insertRoomForm()">Insert New</button>
  <div class="editForm" *ngIf="showUpdateForm">
    <h2>Edituj sobu sobu:</h2>
    <form>
      <div>
        <label for="id">ID:</label>
        <input
          type="text"
          id="id"
          [(ngModel)]="editRoom.id"
          name="id"
          disabled
        />
      </div>
      <div>
        <label for="brojSobe">Broj Sobe:</label>
        <input
          type="text"
          id="brojSobe"
          [(ngModel)]="editRoom.brojSobe"
          name="brojSobe"
        />
      </div>
      <div>
        <label for="brojSprata">Broj Sprata:</label>
        <input
          type="text"
          id="brojSprata"
          [(ngModel)]="editRoom.brojSprata"
          name="brojSprata"
        />
      </div>
      <div>
        <label for="opis">Opis:</label>
        <input type="text" id="opis" [(ngModel)]="editRoom.opis" name="opis" />
      </div>
      <div>
        <label for="cena">Cena:</label>
        <input type="text" id="cena" [(ngModel)]="editRoom.cena" name="cena" />
      </div>
      <div>
        <label for="brojNocenja">Broj Nocenja:</label>
        <input
          type="number"
          id="brojNocenja"
          [(ngModel)]="editRoom.brojNocenja"
          name="brojNocenja"
        />
      </div>
      <button type="submit" (click)="updateRoom()">Save</button>
    </form>
  </div>

  <div class="editForm" *ngIf="showInsertForm">
    <h2>Unesi novu sobu:</h2>
    <form>
      <div>
        <label for="brojSobe">Broj Sobe:</label>
        <input
          type="text"
          id="brojSobe"
          [(ngModel)]="insertRoom.brojSobe"
          name="brojSobe"
        />
      </div>
      <div>
        <label for="brojSprata">Broj Sprata:</label>
        <input
          type="text"
          id="brojSprata"
          [(ngModel)]="insertRoom.brojSprata"
          name="brojSprata"
        />
      </div>
      <div>
        <label for="opis">Opis:</label>
        <input
          type="text"
          id="opis"
          [(ngModel)]="insertRoom.opis"
          name="opis"
        />
      </div>
      <div>
        <label for="cena">Cena:</label>
        <input
          type="text"
          id="cena"
          [(ngModel)]="insertRoom.cena"
          name="cena"
        />
      </div>
      <div>
        <label for="brojNocenja">Broj Nocenja:</label>
        <input
          type="number"
          id="brojNocenja"
          [(ngModel)]="insertRoom.brojNocenja"
          name="brojNocenja"
        />
      </div>
      <button type="submit" (click)="createRoom()">Save</button>
    </form>
  </div>
</div>
